'scopeName': 'source.tnsdl'
'name': 'TNSDL'
'fileTypes': [
  'sdl'
  'sdt'
  'sst'
  'in2'
  'in3'
]
'patterns': [
  {
    'begin': '^/\\*'
    'end': '\\*/$'
    'name': 'comment.block.tnsdl'
  }

]
